.full-post-container {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(25, 33, 46, 0.95);
    border: 1px solid #00FFFF;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
    border-radius: 0;
}