body {
    background-color: #111827; /* 深黑背景 */
    color: #D1D5DB; /* 淺灰文字 */
    font-family: 'Orbitron', Monospace, sans-serif; 
    margin: 0;
    padding: 30px;
    line-height: 1.5;
}

h1, h3 {
    color: #F9FAFB;
    /* 霓虹發光效果 */
    text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #00FFFF;
    margin-bottom: 25px;
}

/* .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px; 
    max-width: 1400px;
    margin: 40px auto;
} */

.read-more-button, .back-button {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    text-decoration: none;
    color: #111827; 
    background-color: #39FF14; 
    border: none;
    border-radius: 4px; 
    box-shadow: 2px 2px 0px #1E6C0C; 
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s;
}

.read-more-button:hover, .back-button:hover {
    transform: translate(1px, 1px); 
    box-shadow: 1px 1px 0px #1E6C0C; 
    background-color: #00FFFF; 
}

