body {
    background-color: #111827; /* 深黑背景 */
    color: #D1D5DB; /* 淺灰文字 */
    font-family: 'Orbitron', Monospace, sans-serif; 
    margin: 0;
    padding: 30px;
    line-height: 1.5;
}

h1, h3 {
    color: #F9FAFB;
    /* 霓虹發光效果 */
    text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #00FFFF;
    margin-bottom: 25px;
}

.code-block {
    background-color:#000;
    padding:6px;
    white-space: pre-wrap;      /* 允許換行 */
    word-break: break-all;      /* 必要時強制斷字 */
    /* overflow-x: auto; */
}

.remark{
    color: #1E6C0C;
}

.highlight{
    color: #00FFFF;
}

.flex-container {
  /* 啟用 Flexbox 佈局 */
  display: flex; 
  /* 沿主軸（水平方向）置中內容 */
  justify-content: center; 
  /* 如果您也想垂直置中，可以加上：align-items: center; */
}

.img-block{
    border: 1px solid #00FFFF;
    width: 100%;
    height: auto;
    /* 確保圖片不會被放大超過其原始解析度 */
    max-width: 100%;
}

/* .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px; 
    max-width: 1400px;
    margin: 40px auto;
} */

.read-more-button, .back-button {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    text-decoration: none;
    color: #111827; 
    background-color: #39FF14; 
    border: none;
    border-radius: 4px; 
    box-shadow: 2px 2px 0px #1E6C0C; 
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s;
}

.read-more-button:hover, .back-button:hover {
    transform: translate(1px, 1px); 
    box-shadow: 1px 1px 0px #1E6C0C; 
    background-color: #00FFFF; 
}

